<p>
  <button mat-flat-button color="primary" [style.width]="'150px'" (click)="showSelectModal()">Select Modal</button>
</p>
<p>
  <button mat-flat-button color="primary" [style.width]="'150px'" (click)="showCheckboxModal()">Checkbox Modal</button>
</p>
<p>
  <button mat-flat-button color="primary" [style.width]="'150px'" (click)="showTextMessageModal()">Text Modal</button>
</p>
<p>
  <button mat-flat-button color="primary" [style.width]="'150px'" (click)="showHtmlMessageModal()">Html Modal</button>
</p>
