.header {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  max-width: 300px;
  margin-right: 16px;
}

button {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
